<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>control.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPerfiles</servlet-name>
        <servlet-class>control.ControladorPerfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPagos</servlet-name>
        <servlet-class>control.ControladorPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBancos</servlet-name>
        <servlet-class>control.ControladorBancos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuotas</servlet-name>
        <servlet-class>control.ControladorCuotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCasas</servlet-name>
        <servlet-class>control.ControladorCasas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHabitantes</servlet-name>
        <servlet-class>control.ControladorHabitantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReportes</servlet-name>
        <servlet-class>control.ControlReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVisitantes</servlet-name>
        <servlet-class>control.ControladorVisitantes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPerfiles</servlet-name>
        <url-pattern>/ControladorPerfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPagos</servlet-name>
        <url-pattern>/ControladorPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBancos</servlet-name>
        <url-pattern>/ControladorBancos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuotas</servlet-name>
        <url-pattern>/ControladorCuotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCasas</servlet-name>
        <url-pattern>/ControladorCasas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHabitantes</servlet-name>
        <url-pattern>/ControladorHabitantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReportes</servlet-name>
        <url-pattern>/ControlReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVisitantes</servlet-name>
        <url-pattern>/ControladorVisitantes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
